* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
    color: white;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #00f7ff;
}

.navbar nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #00f7ff;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    text-align: center;
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.hero-text h1 span {
    color: #00f7ff;
    text-shadow: 0 0 20px #00f7ff;
}

.hero-text h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #cccccc;
}

.hero-text p {
    max-width: 600px;
    margin: 0 auto 25px auto;
    color: #aaa;
}

.hero-text button {
    padding: 12px 30px;
    border: none;
    background: #00f7ff;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
}

.hero-text button:hover {
    background: white;
}

/* SECTIONS */
section {
    padding: 100px 8%;
    text-align: center;
}

.about p {
    max-width: 700px;
    margin: auto;
    color: #aaa;
}

/* PROJECTS */
.project-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    background: #1e1e1e;
    padding: 25px;
    border-radius: 15px;
    width: 280px;
    transition: 0.3s;
    border: 1px solid #333;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #00f7ff;
}

.card h3 {
    margin-bottom: 10px;
    color: #00f7ff;
}

.card p {
    color: #bbb;
}

/* CONTACT */
.contact p {
    margin-top: 15px;
    color: #aaa;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: #777;
}
